body {

    background-color: rgb(58, 92, 153) !important;

}

.main-login {
    display: flex;

}

/* **************** */
/* \/ LADO ESQUERDO */
/* **************** */

.left-side {
    background-image: url(/img/bg-apm2.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 5px 1px 10px 2px rgba(0, 0, 0, 0.3);

    width: 50%;
    height: 100vh;
    min-height: 100vh;
    min-width: 50vw;
}

.left-side .logociee {
    width: 60%;
    margin: 0 auto;
    text-align: left;
    padding-top: 20px;
}

.logociee img {
    width: 90px;
}

.left-side-text {
    width: 70%;
}

.left-side-text h1 {
    max-width: 90%;
    font-weight: 700;
    margin-top: 100px;
    margin-bottom: 26px;

}

.left-side-text p {
    max-width: 95%;
    line-height: 2rem;
    font-size: 1.5rem;

}

.left-side-text strong {
    color: #FFC60C;
    font-size: 1.5rem;
}

.left-side-text .arrow-right {
    text-align: right;
}

.left-side-text .arrow-right img {
    width: 60px;
    position: relative;
    margin-top: 20px;
    animation: arrowmove 1s infinite;
}


@keyframes arrowmove {
    0% {
        right: 0px;
    }

    50% {
        right: 10px;
    }

    100% {
        right: 0px;
    }

}


/* *************** */
/* LADO DIREITO \/ */
/* *************** */

.right-side {
    width: 80%;
    height: 100vh;
    min-height: 100vh;
}

.right-side .logodepin {
    width: 60%;
    margin: 0 auto;
    text-align: right;
    padding-top: 30px;

}

.logodepin img {
    width: 110px;
}


.login-card {
    padding: 5%;


    margin-top: 6rem;
    background-color: white;
    color: #26538a;

    border-radius: 0.5rem;

    -webkit-box-shadow: 10px 14px 44px -19px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: 10px 14px 44px -19px rgba(0, 0, 0, 0.58);
    box-shadow: 10px 14px 44px -19px rgba(0, 0, 0, 0.58);
}

.login-card h3 {

    font-size: 2.5rem !important;
    text-align: center;
    font-weight: 700;
    margin-bottom: 50px;
}

.login-card .form-signin input {
    margin-bottom: 0.9rem;
    font-size: 1.5rem !important;
    font-family: 'Open sans', sans-serif !important;
    border-radius: 1rem !important;
    height: 45px;

}

#btn-login {
    background: linear-gradient(90deg, rgba(38, 83, 138, 1) 0%, rgba(26, 145, 175, 1) 100%) !important;
    border: none;
    font-weight: 400;
    font-size: 1.5rem !important;
    letter-spacing: 0.5px;
    border-radius: 1rem !important;
    height: 45px;


    font-family: 'Open sans', sans-serif !important;
    margin-bottom: 10px;

}

#btn-login:hover {
    background: linear-gradient(90deg, rgba(48, 96, 156, 1) 0%, rgba(42, 166, 198, 1) 100%) !important;
}


#btn-forget {
    border: none;
    font-weight: 400;
    font-size: 1.5rem !important;
    border-radius: 1rem !important;
    height: 45px;


    font-family: 'Open sans', sans-serif !important;
}

.form-check-label {
    padding: 5% 0 4% 4%;
    font-size: 1.2rem !important;
    margin-bottom: 10px;
}



/*RESPONSIVIDADE*/

@media (max-width: 576px) {

    .left-side {
        display: none;
    }

    .logodepin {
        display: none;
    }


    .login-card {
        margin-top: 140px;
    }
}

@media (min-width: 768px) {}

@media (min-width: 992px) {}